@{ ViewBag.Title = "Manchester United Squad Season 2013-2014"; }
@section scripts {
    @Scripts.Render("~/bundles/main")
}

<div class="page-header">
    <h1>Squad <small>Season 2013-2014</small></h1>
</div>

<nav class="nav navbar">
    <h4>SORTING</h4>
    <ul id="player-sorting" class="nav nav-pills">
        <li><a href="#name">Name</a></li>
        <li><a href="#sku">Number</a></li>
    </ul>
    <h4>FILTERING</h4>
    <ul id="player-filtering" class="nav nav-pills">
        <li><a href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".Goalkeeper">Goalkeeper</a></li>
        <li><a href="#" data-filter=".Defender">Defender</a></li>
        <li><a href="#" data-filter=".Midfielder">Midfielder</a></li>
        <li><a href="#" data-filter=".Forward">Forward</a></li>
    </ul>
</nav>

<div class="products" data-bind="foreach: players">
    <div class="product" data-bind="css: position, attr: { 'data-position': position }">
        <span class="name" data-bind="text: name"></span>
        <span class="sku" data-bind="text: number"></span>
        <a class="image-link" data-bind="attr: { href: image }" data-effect="mfp-3d-unfold">
            <img data-bind="attr: { src: image }" />
        </a>
    </div>
</div>